body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--gray0);
  background: var(--gray6);
  transition: var(--transitionSmooth)
}

header {
  padding: 1em;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  background: linear-gradient(to right, var(--gray3), var(--gray6));
  color: var(--gray0);
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  transition: var(--transitionSmooth)
}

.modal-content {
  color:#1a2327;
}

.logo {
  margin: 2em;
  width: 180px;
  height: 180px;
}

.services {
  background: var(--gray5);
  color: var(--gray0);
  border-radius: 2em;
  width: 13rem;
  transition: var(--transitionSmooth)
}

.table {
  width: 50%;
  margin: auto;
  margin-top: 10%;
}


#footer {
  background: var(--gray5);
  color: var(--gray0);
  transition: var(--transitionSmooth)
}

:root {
  --gray0: #e5eaee;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #1a2327;
  --transitionSmooth: background 500ms ease-in-out, color 1000ms ease-in-out;
}

/* Logo Animation */


@keyframes color-rotate {
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(360deg);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo:hover {
  animation: logo-spin 1.5s;
  animation-iteration-count: initial; 
  animation-direction: normal;
}