body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--gray0);
  background: var(--gray6);
  transition: var(--transitionSmooth)
}

header {
  padding: 1em;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  background: linear-gradient(to right, var(--gray3), var(--gray6));
  color: var(--gray0);
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  transition: var(--transitionSmooth)
}

.modal-content {
  color:#1a2327;
}

.logo {
  margin: 2em;
  width: 250px;
  height: 260px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: logo-spin infinite 2s linear;
  }
}

.services {
  position: relative;
  background: var(--gray5);
  color: var(--gray0);
  border-radius: 2em;
  width: 15rem;
  transition: var(--transitionSmooth)
}

.services:hover {
  background-color: var(--gray6);
  transition: 700ms;
}

.services  img {
  padding: 2rem;
}

.services-text h5 {
  font-weight: bold;
}

.services-text {
  width: 200px;
  max-width: 200px;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  opacity: 0;
}

.services:hover .card-img-top {
  opacity: 0.2;
}

.services h3 {
  font-weight: bold;
}

.services:hover .services-text {
  opacity: 1;
  transition: 700ms;
}

.table {
  width: 600px;
  margin: auto;
}

.add-password {
  width: 100px;
}

.submit-cancel-button-row {
  justify-content: space-evenly;
  margin: auto 350px 10px 250px;
}

.spinner-border {
  display: flexbox;
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto 50% auto 45%;
}

#linux-image {
  display: flexbox;
  width: 100%;
  height: 500px;
}


.footer-card {
  width: 110rem;
  background: var(--gray5);
  color: var(--gray0);
  margin-top: 7rem;
  transition: var(--transitionSmooth)
}

:root {
  --gray0: #e5eaee;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #1a2327;
  --transitionSmooth: background 500ms ease-in-out, color 1000ms ease-in-out;
}

@media all and (max-width: 1000px) {
  .navbar-toggler {
    position: sticky;
  }
  
  .logout-button {
    max-width: 9em;
  }

  .dropdown-menu {
    max-width: 14em;
  }

  .submit-cancel-button-row {
    justify-content: space-between;
    margin: 1px 100px auto 100px;
  }
}

@media all and (max-width: 600px) {
  .table {
    width: 500px;
    margin: 2em auto;
  }
}

/* Logo Animation */


@keyframes color-rotate {
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(360deg);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
