body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #12181b;
  background: #f8f8f8;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

header {
  padding: 1em;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  background: linear-gradient(to right, #f8f8f8, #6c7983);
  margin-bottom: 1em;
  color: #12181b;
  padding-bottom: 3.5em;
  text-align: center;
}

.logo {
  margin: 2em;
  width: 180px;
  height: 180px;
}

:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
}

.light {
  --bg: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
}